<!DOCTYPE html>
<html>

<head>
  <title>Shopping Cart</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      /* Remove borders between table cells */
      margin-top: 20px;
    }

    th,
    td {
      text-align: left;
      padding: 10px;
    }

    th {
      font-weight: bold;
    }

    td {
      vertical-align: top;
    }
  </style>
</head>

<body>
  <h1>Shopping cart</h1>
  <table>
    <thead>
      <tr>
        <th>Item name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% cartItems.forEach(item=> { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <form action="/update-quantity" method="POST">
              <input type="hidden" name="itemId" value="<%= item.id %>">
              <select name="quantity" onchange="this.form.submit()">
                <% for (let i=0; i <=10; i++) { %>
                  <option value="<%= i %>" <%=item.quantity===i ? 'selected' : '' %>><%= i %>
                  </option>
                  <% } %>
              </select>
            </form>
          </td>
          <td>$<%= (item.price * item.quantity).toFixed(2) %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <h2>Total Price: $<%= totalPrice.toFixed(2) %>
  </h2>
  <a href="/" id="shop-link">Back to Shop</a>
  <form action="/checkout" method="get">
    <button type="submit" id="checkout-button" class="checkout-button">Checkout</button>
  </form>
</body>

</html>